/*The following code done by Aboneh */

mat-form-field{
    width: 100%;
  }
  
  mat-progress-spinner{
    margin: auto;
  }
  
  .main-div{
    height: 100vh;
  
  }
  
  button{
    width: 100%;
  }
  
  .login{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  