/*The following code done by Mitiku and Aboneh */

<div class="container">
  <div class="row">
      <ng-container *ngFor="let item of allproducts | filter:searchKey: 'name'">
          <div class="card col-md-3">
              <img src="{{item.imageUrl}}" alt="">
              <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.name}}</h5>
              <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
              <p><strong>Price:</strong> ${{item.unitPrice | currency: "USD"}}</p>
              <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button>
          </div>
      </ng-container>

  </div>
</div>
